<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="db" connectionString="Data Source=localhost\SQLSERVER2008; Initial catalog=GD2C2014; user id=gd; password=gd2014"></add>
  </connectionStrings>
  <appSettings>
    <add key ="fechaSistema" value = "2017-12-07T21:30:00"/>
  </appSettings>
</configuration>