*.suo
*.exe
FrbaHotel/FrbaHotel/ABMHotel.cs
FrbaHotel/FrbaHotel/ABMHotel.designer.cs
FrbaHotel/FrbaHotel/AltaHotel.cs
FrbaHotel/FrbaHotel/AltaHotel.designer.cs
FrbaHotel/FrbaHotel/AltaHotel.resx
FrbaHotel/FrbaHotel/bin/Debug/FrbaHotel.application
*.manifest
*.pdb
*.application
FrbaHotel/FrbaHotel/FrbaHotel.csproj.user
FrbaHotel/FrbaHotel/FrbaHotel.csproj
FrbaHotel/FrbaHotel/ModificarHotel.cs
FrbaHotel/FrbaHotel/ModificarHotel.designer.cs
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Cliente.AltaCliente.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Cliente.ModificarCliente.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Cliente.SeleccionarCliente.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Habitacion.AltaHabitacion.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Habitacion.ModificacionHabitacion.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Habitacion.SeleccionarHabitacion.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Hotel.AltaHotel.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Rol.AltaRol.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Rol.ModificarRol.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Rol.SeleccionarRol.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.ABMUsuario.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.AltaUsuario.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.ModificacionUsuario.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Usuario.SeleccionarUsuario.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.FileListAbsolute.txt
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.csproj.GenerateResource.Cache
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Generar_Modificar_Reserva.Agregar_Habitación.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Generar_Modificar_Reserva.ClienteParaReserva.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Generar_Modificar_Reserva.GenerarReserva.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Generar_Modificar_Reserva.SeleccionarRegimen.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Login.LoginUsuarios.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Login.SeleccionFuncionalidad.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.NavegableForm.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.PantallaBienvenida.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Properties.Resources.resources
FrbaHotel/FrbaHotel/obj/Debug/TempPE/Properties.Resources.Designer.cs.dll
FrbaHotel/FrbaHotel/Properties/Resources.Designer.cs
FrbaHotel/FrbaHotel/Properties/Resources.resx
FrbaHotel/FrbaHotel/SeleccionarHotel.cs
FrbaHotel/FrbaHotel/SeleccionarHotel.designer.cs
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.ABM_de_Hotel.BajaHotel.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Listado_Estadistico.Formato.resources
FrbaHotel/FrbaHotel/obj/Debug/FrbaHotel.Listado_Estadistico.ListadoEstadistico.resources